.App {
  text-align: center;
}

.main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  width: 60%;
}
.input-memo{
  width:400px;
}
header {
  display: flex;
  height: auto;
  min-height: 50px;
  border-radius: 15px;
  background-color: lightgrey;
  justify-content: space-between;
}

header>div {
  margin : auto 15px;
  align-items: center;
}

header>div>div {
  display: inline-block;
  font-size: smaller;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

header>div>button {
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  border: 1px solid lightslategray;
  padding : 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: lightslategray;
  margin:auto;
}
header>div>button:hover {
  border: 1px solid green;
  color: white;
  background-color: green;
}

.contents{
  display: block;  
}
input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}
.list-box{
  display: flex;
  justify-items: center;
  align-items: left;
  flex-direction: column;
  padding: 15px;

  width: fit-content;
  min-width: 150px;
  height: 130px;
  border-radius: 15px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: 15px;
}
.btnSpace{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap : 5px;
}
.btnSpace > button {
  cursor: pointer;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}
.erase {
  background-color: lightcoral;
  border : 1px solid white;
  color : black;
}
.erase:hover {
  background-color: red;
  border : 1px solid red;
  box-shadow: 0px 0px 5px black;
  color : white;
}
.done-or-cancel {
  background-color: lightgreen;
  border : 1px solid white;
  color: black;
}
.done-or-cancel:hover {
  background-color: green;
  border : 1px solid green;
  box-shadow: 0px 0px 5px black;
  color: white;
}
h3{
  margin : 0px;
}
h5{
  margin : 10px 0px;
  height : auto;
  min-height: 60px;
}